*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    width: 100%;
    background-color: #FFF9F0;
}
button{
    background-color: transparent;
    border: 2px rgba(11, 70, 11, 0.993) solid;
    border-radius: 35px;
    padding: 10px 25px;
}
.soilb{
    margin-right: 32%;
}
header{
    padding: 25px;
    position: sticky;
    top: 0%;
}
.hli{
    color: white;
}
.main{
    width: 100%;
    height: 100vh;
    background-image: url("home.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.mf{
    color: white;
    margin-top: 15%;
    font-family: 'Cormorant SC', serif;
}
.fm{
    color: white;
    margin-left: 20px;
    font-family: 'Cormorant SC', serif;
}
.mfbtn{
    margin-left: 52px;
    margin-top: 1%;
}
.plt3{
    width: 80%;
}
.p3bg{
    width: 100%;
    height: 80vh;
    background-image: url("pot.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 15px;
}
.potf{
    color: whitesmoke;
    padding-top: 20%;
    padding-left: 5%;
    font-family: 'Sansita', sans-serif;
}
.p2f{
    color: whitesmoke;
    padding-left: 4%;
    font-family: 'Cormorant SC', serif;
}
.imgb{
    color: white;
    border-color: white;
    background-color: transparent;
}
.p4p1{
    width: 90%;
    height: 100%;
    border-radius: 25px;
    margin-left: 15%;
}
.cps{
    margin-top: 45%;
}
.cpsi{
    width: 45%;
}
.fnt2{
    font-family: 'Grechen Fuemen', cursive;
}
.hk{
    font-family: 'Diphylleia', serif;
}
.kh{
    font-family: 'Syncopate', sans-serif;
}
.ppp{
    width: 90%;
    height: 100vh;
    border-radius: 25px;
    margin-left: 15%;
}
.p4bg{
    width: 80%;
    height: 70vh;
    background-image: url("che.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 3%;
    border-radius: 15px;
    margin-left: 10%;
}
.p4h4{
    color: white;
    margin-top: 18%;
    margin-left: 10%;
}
.bnch{
    margin-top: 10%;
    margin-bottom: 3%;
}
.imgsz, .limg{
    width: 80%;
    border: 5px solid transparent;
    border-radius: 20px;
}
.limg{
    height: 100%;
}
footer{
    background-color: rgb(22, 38, 81);
    margin-top: 10%;
    color: white;
    padding: 20px;
}
footer h1{
    font-family: 'Cormorant SC', serif;
}
.ip1{
    width: 55%;
    height: 25%;
}
.f1{
    margin-top: 3%;
    margin-left: 5%;
}
.f2{
    margin-top: 3%;
}
.f3{
    margin-top: 3%;
}
.insta{
    margin-left: 25%;
}
.fs{
    margin-top: 35%;
}
.a1{
    color: black;
}
a{
    color: white;
}
.fw{
    color: white;
    border: 2px solid white;
}